extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Madeleine Wallner

        p Full-Stack JavaScript Developer


        .about-bio

          p Hi, I'm Madeleine and I'm a Full-Stack JavaScript student at Treehouse. In October 2019 I had felt for a while that it was time for a career change. A friend recommended Treehouse and I became a student. 
          p Now I'm more than halfway through and looking forward to completing the rest of the course and make this my fulltime job!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React 
          li SQL

        h6 Contact Info

        ul
          li 070-3884117
          li madeleine.wallner@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/madeleine-wallner-708a071a4/') LinkedIn
        a.btn-link(href='https://github.com/madeleinewallner') GitHub
        a.btn-link(href='https://twitter.com/argbiff') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back