extends layout.pug

block content

  article.portfolio-intro

    h1 PORTFOLIO

    p Projects I've created as a Full Stack JavaScript student at Teamtreehouse.com


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell 
          a(href= `/project/${project.id}`)
            img.thumbnail(id="project" src= project.thumbnail, alt='Thumbnail ' + project.project_name)
            h5 #{project.project_name}
